.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;

    .column {
        flex: 1 0 50%;

        svg {
            width: 100vh;
            height: 300vh;

            .land
			{
				fill: #FFFFFF;
				fill-opacity: 1;
				stroke:#ccc;
				stroke-opacity: 1;
                stroke-width:0.5;
                
                &:hover {
                    fill: #ff9900;
                }
			}
        }

        h1, h2 {
            color: #FFF;
            text-align: center;
            margin: 0px;
            padding: 0px;
            line-height: 1;
            text-transform: uppercase;
        }
        h1 {
            font-size: 52px;
            margin-bottom: 30px;
        }
        h2 {
            font-size: 32px;
            
        }
    }
}