.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .column {
        flex: 1 0 50%;

        .join-template { display: none; }
        .joins {
            .join {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;

                .pulse {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: #DD353F;
                    animation: pulse 2s infinite;
                }
            }
            .fade-out {
                opacity: 0;
                transition: 2s opacity;
            }
        }

        svg {
            width: 100%;
            height: 900px;
            margin-top: -250px;
            transition: all 1s ease;

            .land {
				fill: #FFFFFF;
				fill-opacity: 1;
				stroke:#ccc;
				stroke-opacity: 1;
                stroke-width: 0.5; 
                transition: all 1s ease;
                
                &:hover,
                &.active {
                    fill: #eee;
                }
                &.active::after {
                    content: ' ';
                }
			}
        }

        h1, h2 {
            color: #FFF;
            text-align: center;
            margin: 0px;
            padding: 0px;
            line-height: 1;
            text-transform: uppercase;
        }
        h1 {
            font-size: 52px;
            margin-bottom: 30px;
        }
        h2 {
            font-size: 32px;
            
        }
    }
}

.simulate {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    padding: 10px;

    &:hover {
        background: rgba(0,0,0,1);
        cursor: pointer;
    }
}

.toaster {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #FFF;
    padding: 10px;
    width: 300px;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(228, 93, 101,0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(228, 93, 101,0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(228, 93, 101,0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(228, 93, 101,0.4);
      box-shadow: 0 0 0 0 rgba(228, 93, 101,0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15 rgba(228, 93, 101,0);
        box-shadow: 0 0 0 15px rgba(228, 93, 101,0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(228, 93, 101,0);
        box-shadow: 0 0 0 0 rgba(228, 93, 101,0);
    }
  }